*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
 
 
}
.row{
  --bs-gutter-x: 0;
}
body{
    margin: 0px; 
    background: #ffff;
    font-family: 'Roboto', sans-serif;
   
}
img {
    max-width: 100%;
}
.carousel-caption h5 {
  font-weight: bold;
  font-style: italic;
  font-size: 45px;
  background:#00000059 ;
}
p{
  font-size: 20px;
}
.yellow{
  background: #FFEF08;
  color: #005344;
  font-weight: bold;
}
.btn-secondary{
  margin-right: 15px;
}
.green{
color: #ef7f20;
}
 
.content {
  background: #00000052;
}

.iconss ul li {
  float: left;
  padding: 15px 35px;
  list-style: none;
  border: 5px solid #9dbde0;
  margin: 0 10px;
  background: #4dffbd00;
  box-shadow: -4px 4px 5px 3px #a39f9f;
  text-align: center;
}
.members {
  background: #C8C58F;
  padding:20px 15px;
  width: 20%;
  margin: 10px auto;
  border-radius: 10px;
}
.members p{
font-size: 22px;
font-weight: bold;
color: #005344;
  
}

.center{
text-align: center;
padding: 10px 0;

}
button.btn.btn-primary {
  border: 0; 
  color: #ffffff;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 15px;
  
}
button.btn.btn-primary:hover{
  background:#005344;
  color: #ffffff;
}

.carousel-caption p{
  background: #00000059;
  padding: 10px;
}

.nav-link, .nav-link active{
color:#005344 ;
 
font-size: 22px;


}
.nav-item{
  padding-top: 30px;
  padding-right: 30px;
  height: 100%;
}
.nav-item1{
 
  padding-right: 20px;

}
.carousel-indicators{
  display: none;
}
.carousel-caption{
  bottom: 10.25rem;
}
 .about, .main-title{
  text-align: center;
  background: #403f3f;
  color: #ffffff;
  padding: 30px; 
  border-bottom: 5px solid #41aeff;
  border-top: 5px solid #41aeff;
 }
 
 

  
 
.stylish-color-dark{
  background:#373838;
  color: #ffffff;
}
footer a{
  color: #ffffff;
}
footer p{
  font-size: 14px;
}
.urban {
  padding: 0;
  position: relative;
  
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #403f3f;
  width: 55%;
  float: left;
  height: 100%;
  padding: 10px 20px;
}

 

.text {
  text-align: center;
  color: white;
  font-size: 18px;
}

/**
* ! style rules for form section
**/
.containern-full {
  line-height: 1.3;
  padding: 5px 0;
}

.containern-nonfull {
  margin: 0px auto;
  width: 1260px;
  max-width: 90%;
}

.green {
    color: #f38120;
     
}
.orange {
    background:url('../images/contact-banner.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
  
}

form.form {
  border: 3px solid #41aeff;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
    background-color: #fff;
    border-radius: 6px;
    display: block;
    padding:50px 10px 10px 10px;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1), 1px 1px 3px 1px rgba(0, 0, 0, 0.1), -1px -1px 3px 1px rgba(0, 0, 0, 0.1);
}

.form input {
    display: block;
    margin: 4px auto;
}

.form input[type="text"], input[type="number"]{
    width: 55%;
    -webkit-transform: translate(1);
    transform: translate(1);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    margin-bottom: 7px;
    border: 1px solid gray;
    padding: 15px;
    margin-top: 20px ;
    font-size: 18px;
    border-radius: 5px;
}
.form input[type="submit"] {
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 18px;
    font-size: 18px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background-color: #fff;
    border:1px solid royalblue;
    color:royalblue;
}
.form input[type="text"]:focus, input[type="number"]:focus{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: rgba(0,0,0,0.15);
}
.form input[type="submit"]:hover,input[type="submit"]:focus {
  background-color: royalblue;
  color:#fff;
  border-radius: 4px;
}
.text_error{
  background-color: pink;
  font-size: 19px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color:red;
  transition-duration: 2s;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}
.head-form{
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  display: block;
  width: 100%;
  margin: 0 auto 15px auto;
  
  border-radius: 8px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  background:rgba(0,0,0,0.1);
}
.welldone{
  background-color: lightgreen;
  color:green;
  border:1px solid seagreen;
  font-family: 'aaargh';
  width: 75%;
  display: none;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  margin: 0 auto;
  text-transform: uppercase;
}
.hint{
  background-color: pink;
  color:red;
  display: none;
  text-align: center;
  border:1px solid red;
  font-family: 'aaargh';
  width: 75%;
  font-size: 14px;
  padding: 10px;
  margin: 0 auto;
  text-transform: uppercase;
}

/**
* ! Media Queries are here
**/

@media (max-width: 900px) {
  
  form.form{
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
  button{
    width: auto;
  }

  form,
  .content {
    width: 100%; 
    height: auto;
  }

  .btn {
    flex-direction: column;
  }
  .image {
    height: 70vh;
  }
}

@media (max-width: 425px) {
  form {
    padding: 20px;
  }
}

@media (max-width: 576px) {

  .members{
    width:75%;
  }
 

}

 
@media (max-width: 768px) {  
  
  .members{
    width:95%;
  }
  .carousel-item{
    height: 453px;
  }
  .carousel-item img{
    height: 453px;
  }

    }

 
@media (max-width: 992px) {

  .carousel-caption {
    bottom: 0;
}
.carousel-caption h5{
  font-size: 25px;
}

  .urban-text {
    background: #1fa088;
    color: #ffffff;
    padding: 30px;
    width: 100%;
    position: inherit;
}

}

 
@media (max-width: 1200px) { }
  